@model IEnumerable<Estoque.Models.Movimentacao>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>Histórico de Saídas</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ViewStyles/produto-historicosaida.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ViewStyles/mobile.css")" rel="stylesheet" />


</head>
<body>

    <main class="history-page">
        <div class="top-actions">
            <h2>Histórico de Saídas</h2>
            <a href="@Url.Action("Index", "Produto")" class="btn-back">Voltar ao estoque</a>
        </div>

        <div class="history-list">
            <table class="history-table">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-label="Produto">@item.NomeProduto</td>
                            <td class="red" data-label="Quantidade">-@item.Quantidade</td>
                            <td data-label="Data">@item.Data</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>


</body>
</html>
