@model IEnumerable<Estoque.Models.Movimentacao>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>Histórico de Saídas</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ViewStyles/produto-historicosaida.css")" rel="stylesheet" />


</head>
<body>

    <div class="top-actions">
        <h2>Histórico de Saídas</h2>
        <a href="@Url.Action("Index", "Produto")" class="btn-back">Voltar ao estoque</a>
    </div>

    <table>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Data</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NomeProduto</td>
                <td class="red">-@item.Quantidade</td>
                <td>@item.Data</td>
            </tr>
        }


    </table>


</body>
</html>
